@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "El Messiri", sans-serif;
    text-decoration: none !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* got to top btn*/

.go_to_top_btn {
    position: fixed;
    bottom: 20px;
    right: 40px;
    color: white !important;
    font-size: 25px;
    z-index: 50;
}

/* Contact Number Pop Up */
.contact_num_container {
    position: fixed;
    bottom: 20px;
    left: 40px;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(114, 114, 114, 0.439);
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: all .3s;
}

.contact_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_icon i {
    color: rgb(144, 83, 246);
    font-size: 28px;
}

.contact_num_wrapper {
    width: 250px;
    height: 280px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all .3s;
    visibility: hidden;
    pointer-events: none;
}

.contact_num_wrapper.collapse.show {
    visibility: visible;
    pointer-events: auto;
}

.contact_num_wrapper.collapse:not(.show) {
    visibility: hidden;
    pointer-events: none;
}

.close_contact_icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.con_user_icon {
    display: grid;
    place-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(144, 83, 246);
}

.con_user_icon i {
    font-size: 40px;
    color: rgb(144, 83, 246);
}

.contact_num h3 {
    font-family: "Montserrat", sans-serif;
}

.contact_num p {
    font-family: "Montserrat", sans-serif;
}

.con_social_links {
    width: 100%;
    overflow: hidden;
    transition: all .2s;
}

.con_social_links ul {
    display: flex;
    gap: 15px;
    list-style: none;
    justify-content: center;
}

.con_social_links ul li a i {
    font-size: 40px;
}

.con_social_links ul li:nth-child(1) a i {
    color: rgb(60, 187, 255);
}
.con_social_links ul li:nth-child(2) a i {
    color: rgb(0, 201, 13);
}
.con_social_links ul li:nth-child(3) a i {
    color: rgb(34, 178, 255);
}
.con_social_links ul li:nth-child(4) a i {
    color: rgb(27, 126, 255);
}

.con_social_links.show {
    border-top: 1px solid black;
}




/* header section */
header {
    background-image: url(../assets/img/bg-image/bg-1.jpg);
    background-size: cover;
    background-position: top center;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.social_icon a i {
    transition: all .3s;
}

.social_icon a i:hover {
    color: rgb(144, 83, 246) !important;
}

.sub_header nav ul li {
    position: relative;
}

.sub_header nav ul li .drop_down {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px !important;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: lighter;
    display: none;
}

.sub_header nav ul li:hover .drop_down {
    display: block;
}

.sub_header nav ul li .drop_down li a {
    color: black !important;
    font-size: 14px;
}

.sub_header nav ul li .drop_down li a:hover {
    color: rgb(144, 83, 246) !important;
}

.sub_header nav ul li {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s;
}

.sub_header nav ul li:hover {
    color: rgb(144, 83, 246) !important;
}

.sub_header nav ul li a {
    transition: all .3s;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
}


.sub_header nav ul li a:hover {
    color: rgb(144, 83, 246) !important;
}

.menu_slider .menu_btn {
    color: rgb(144, 83, 246) !important;
}

.menu_slider .menu_nav {
    border: 2px solid rgb(144, 83, 246);
}

.menu_slider .menu_nav li a {
    color: black;
}

.menu_slider .menu_nav li span {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s;
    padding: 8px 0px;
}

.menu_slider .menu_nav li span:hover {
    color: rgb(144, 83, 246);
}

.menu_slider .menu_nav li .mob_drop_down {
    list-style: none;
    list-style: none;
    flex-direction: column;
    gap: 5px;
    font-weight: lighter;
    display: none;
    border-top: 1px solid rgb(0, 0, 0);
}

.menu_slider .menu_nav li .mob_drop_down.collapse.show {
    display: flex;
}

/* Rotate the icon */
.menu_slider .menu_nav li span.collapsed i {
    transform: rotate(0deg);
    font-size: 20px;
}

.menu_slider .menu_nav li span:not(.collapsed) i {
    transform: rotate(180deg);
    font-size: 20px;
}

.hero_section {
    padding: 150px 0px !important;
}

.hero_section h5 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.hero_section h1 {
    font-size: 85px;
    font-weight: bold;
}

.hero_detail span i {
    color: rgb(45, 168, 255);
}

.hero_detail p {
    font-family: "Montserrat", sans-serif;
}

.btn-1 {
    background-color: rgb(144, 83, 246);
    width: 210px;
    padding: 15px;
    color: white;
    border-radius: 35px;
    font-size: 19px;
    transition: all .3s;
    border: none;
}

.btn-1:hover {
    background-color: white !important;
    color: black;
}

.btn-2 {
    background-color: rgb(255, 255, 255);
    color: black;
    width: 210px;
    padding: 15px;
    border-radius: 35px;
    font-size: 19px;
    transition: all .3s;
    border: none;
}

.btn-2:hover {
    background-color: rgb(144, 83, 246);
    color: white
}

/* header media query */

/* responsive for tablet screen */

@media screen and (min-width:768px) and (max-width:992px) {

    .hero_section h1 {
        font-size: 70px;
    }

    .sub_header nav ul li .drop_down {
        left: 0%;
    }
}

/* responsive for mobile screen */
@media screen and (min-width:340px) and (max-width:767px) {
    /* got to top btn*/

    .go_to_top_btn {
        bottom: 40px;
        display: none;
    }

    .contact_num_container {
        bottom: 40px;
        left: 20px;
    }

    .contact_num_wrapper {
        width: 250px;
        height: 300px;
    }

    .close_contact_icon i{
        font-size: 24px;
    }

    .hide_social_icon i{
        font-size: 24px;
    }

    /* .contact_num_wrapper .contact_icon{
        width: 30px;
        height: 30px;       
    }

    .contact_num_wrapper .contact_icon i{
        font-size: 22px;
    } */

    .hero_section {
        padding: 120px 0px !important;
    }

    .hero_section h5 {
        font-size: 20px;
    }

    .hero_section h1 {
        font-size: 55px;
        font-weight: bold;
    }
}

/* about section start*/

.content_container {
    background-color: rgb(28, 21, 61);
    padding: 100px 0px;
}

.heading {
    font-size: 45px;
}

.content_detail_wrapper img {
    width: 100px;
    height: fit-content;
    margin-top: 8px;
}

.content_detail h3 {
    font-size: 35px;
}

.content_detail p {
    color: rgb(198, 210, 210);
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}


/* responsive for big screen */
@media screen and (min-width:992px) and (max-width:1160px) {
    .content_img img {
        width: 100% !important;
    }

    .content_detail_container .heading {
        font-size: 38px;
    }
}

/* responsive for tablet screen */
@media screen and (min-width:768px) and (max-width:992px) {
    .content_container {
        padding: 50px 0px;
    }

    .content_img img {
        width: 100% !important;
    }

    .heading {
        font-size: 23px;
    }

    .content_detail_wrapper img {
        width: 60px;
    }

    .content_detail h3 {
        font-size: 18px;
    }

    .content_detail p {
        color: rgb(198, 210, 210);
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
    }
}


/* responsive for mobile screen */
@media screen and (min-width:340px) and (max-width:767px) {
    .content_img img {
        width: 100% !important;
    }

    .heading {
        font-size: 25px;
    }

    .content_detail_wrapper img {
        width: 60px;
    }

    .content_detail h3 {
        font-size: 20px;
    }

    .content_detail p {
        color: rgb(198, 210, 210);
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
    }
}


/* horoscope section */

.horoscope_section {
    background-image: url(../assets/img/bg-image/bg-4.jpg);
    background-size: cover;
    background-position: top center;
    padding: 100px 0px;
}

.horoscope {
    background-color: rgba(41, 23, 90, 0.8);
}

.horo_sign_img {
    width: 50px;
}

.horo_line_img {
    width: 150px;
}

.horoscope h4 {
    font-size: 28px;
}

.horoscope span p {
    font-size: 21px;
    color: rgb(198, 210, 210);
}

/* responsive for mobile screen */
@media screen and (min-width:340px) and (max-width:767px) {
    .horoscope_section {
        padding: 70px 0px;
    }
}


/* welcome section */

.welcome_section {
    background-color: rgb(28, 21, 61);
    padding: 100px 0px;
}



/* responsive for mobile screen */
@media screen and (min-width:340px) and (max-width:767px) {
    .welcome_section {
        padding: 70px 0px;
    }
}




/* astro card section */

.astro_card_section {
    background-color: rgb(28, 21, 61);
    padding: 100px 0px;
}

.border_gradient {
    border-top: 1px solid;
    /* Adjust the border thickness as needed */
    border-image: linear-gradient(to right, rgb(28, 21, 61), rgb(28, 21, 61), rgba(255, 255, 255, 0.486), rgb(169, 169, 169), rgb(169, 169, 169), rgb(169, 169, 169), rgb(169, 169, 169), rgba(255, 255, 255, 0.486), rgb(28, 21, 61), rgb(28, 21, 61)) 1;
}

.astro_card_img img {
    width: 100%;
}

.astro_name_detail h3 {
    font-size: 28px;
}

.astro_name_detail h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.astro_card_text {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.card_social_links a {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 18px;
    color: rgb(72, 72, 72);
    transition: all .3s;
}

.card_social_links a:hover {
    background-color: rgb(144, 83, 246);
    color: white;
}

/* responsive for big screen */
@media screen and (min-width:992px) and (max-width:1060px) {
    .astro_name_detail h4 {
        font-size: 14px;
    }
}


/* responsive for tablet screen */
@media screen and (min-width:768px) and (max-width:992px) {
    .astro_card_section {
        padding: 70px 0px;
    }

    .astro_name_detail h3 {
        font-size: 18px;
    }

    .astro_name_detail h4 {
        font-size: 10px;
    }

    .astro_card_text {
        font-size: 12px;
    }

    .card_social_links a {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}

/* responsive for mobile screen */
@media screen and (min-width:576px) and (max-width:767px) {
    .astro_card_img {
        width: 50%;
    }
}


/* gallery section */

.gallery_section .gallery_link {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery_img {
    border-radius: 0px !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.gallery_section .gallery_link span {
    position: absolute;
    top: 0%;
    left: 0%;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: none;
    transition: all .3s;
}

.gallery_section .gallery_link span:hover {
    background-color: rgba(167, 132, 227, 0.465);
}

.carousel-item {
    transition: none !important;
    -webkit-transition: none !important;
    /* For Safari */
}

.gallery_carousel {
    background-color: rgba(0, 0, 0, 0.523);
}

.gallery_carousel_wrapper {
    height: 100dvh;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.modal-dialog {
    margin: 0px;
    /* width: 100vw !important;
    height: 100vh !important; */
}

.caraousel_bg {
    background: none !important;
    position: relative;
}

/* carousel a tag */

.carousel_link_arrow_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    width: 30px;
    display: flex;
}

.pre_btn {
    left: 5%;
}

.next_btn {
    right: 5%;
}

/* carousel arrow btn next prev */

.carousel_arrow_btn {
    font-size: 40px;
    color: white !important;
}

/* close gallery icon */

.close_gallery {
    border: none !important;
    padding: 0px !important;
    position: absolute;
    top: -20px;
    right: 15px;
}

.close_gallery button span i {
    color: white !important;
    text-shadow: 0px;
    font-weight: lighter;
    font-size: 15px;
}

.carousel-indicators {
    position: absolute;
    bottom: -20%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel_img_wrapper {
    display: flex;
    justify-content: center;
}

.carousel_img {
    width: 750px !important;
    height: 450px !important;
    object-fit: cover;
}

/* responsive for mobile screen */
@media screen and (min-width:768px) and (max-width:992px) {
    .carousel_img {
        width: 100% !important;
        height: 350px !important;
        object-fit: cover;
    }
}


/* responsive for mobile screen */
@media screen and (min-width:576px) and (max-width:767px) {
    .carousel_img {
        width: 400px !important;
        height: 300px !important;
    }
}

/* responsive for mobile screen */
@media screen and (min-width:340px) and (max-width:575px) {
    .modal-dialog {
        width: 100%;
    }

    .modal-body {
        padding: 0px;
    }

    .carousel_img {
        width: 100% !important;
        height: 250px !important;
    }

    .carousel_arrow_btn {
        font-size: 35px;
        color: white !important;
    }

    .pre_btn {
        left: 2%;
    }

    .next_btn {
        right: 2%;
    }

    .close_gallery {
        border: none !important;
        padding: 0px !important;
        position: absolute;
        top: -50px;
        right: 10px;
    }

    .carousel-indicators {
        position: absolute;
        bottom: -30%;
    }
}




/* schedule section */

.schedule_section {
    background-image: url(../assets/img/bg-image/bg-2.jpg);
    background-size: cover;
    background-position: top center;
    padding: 100px 0px;
}

.dates .active {
    background-color: rgb(144, 83, 246) !important;
    color: white !important;
}

.dates a {
    background-color: white !important;
    color: black !important;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s;
    border-radius: 0px !important;
}

.dates a:hover {
    background-color: rgb(144, 83, 246) !important;
    color: white !important;
}

.schedule_detail_wrapper {
    background-color: rgba(0, 0, 0, 0.523);
}

.schedule i {
    color: rgb(45, 168, 255) !important;
    font-size: 20px;
}

.schedule p {
    font-family: "Montserrat", sans-serif;
}

.astro_type h4 {
    font-size: 30px;
}

.astrologer p {
    font-size: 22px;
}

.astrologer_detail p {
    font-size: 17px;
    color: rgb(198, 210, 210) !important;
    font-family: "Montserrat", sans-serif;
}


/* get ticket section */

.get_ticket {
    margin-top: 90px;
}

.gat_ticket_btn {
    width: 100%;
}


/* responsive for big screen */
@media screen and (min-width:1200px) and (max-width:1250px) {
    .schedule p {
        font-size: 15px;
    }
}


/* responsive for big screen */
@media screen and (min-width:993px) and (max-width:1050px) {

    /* get ticket section */
    .gat_ticket_btn a .btn-1 {
        width: 100% !important;
    }
}


/* responsive for tablet screen */
@media screen and (min-width:768px) and (max-width:992px) {
    .dates a {
        font-size: 15px;
    }

    .astro_type h4 {
        font-size: 25px;
    }

    .schedule p {
        font-size: 12px;
    }

    .astrologer p {
        font-size: 18px;
    }

    .astrologer_detail p {
        font-size: 14px;
    }

    /* get ticket section */

    .gat_ticket_btn a .btn-1 {
        width: 100% !important;
    }

    .gat_ticket_btn a .btn-1 {
        font-size: 16px !important;
    }
}

/* responsive for mobile screen */
@media screen and (min-width:340px) and (max-width:767px) {
    .schedule_section {
        padding: 70px 0px;
    }

    .dates a {
        font-size: 13px;
    }

    .astro_type h4 {
        font-size: 22px;
    }

    .astrologer_detail p {
        font-size: 13px;
    }


    /* get ticket section */

    .gat_ticket_btn a .btn-1 {
        width: 210px !important;
        font-size: 19px !important;
    }
}


/* ticket price section */

.ticket_price_section {
    background-color: rgb(28, 21, 61);
    padding: 100px 0px;
}

.ticket_detail p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: rgb(198, 210, 210) !important;
}

.ticket_price {
    background-color: rgb(74, 46, 135);
}

.ticket_price_wrapper ul li {
    border-bottom: 1px solid rgb(74, 46, 135);
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.ticket_price_wrapper ul li:last-child {
    border-bottom: none;
    display: flex;
    justify-content: center;
}


/* responsive for mobile screen */
@media screen and (min-width:340px) and (max-width:767px) {

    /* ticket price section */

    .ticket_price_section {
        padding: 60px 0px;
    }
}



/* partner section */

.partner_section {
    background-image: url(../assets/img/bg-image/bg-5.jpg);
    background-size: cover;
    background-position: top center;
    padding: 70px 0px;
}



/* responsive for tablet or big screen */
@media screen and (min-width:768px) and (max-width:1150px) {
    .partner_section .heading {
        font-size: 35px;
    }

    .partner_img {
        width: 100%;
    }

    .partner_img img {
        width: 100%;
    }
}

/* responsive for mobile screen */
@media screen and (min-width:340px) and (max-width:767px) {

    /* ticket price section */

    .partner_section .heading {
        font-size: 30px;
    }
}



/* footer section */

footer {
    background-image: url(../assets/img/bg-image/bg-3.jpg);
    background-size: cover;
    background-position: top center;
    padding: 100px 0px;
}

.footer_logo h2 {
    font-size: 50px;
    font-weight: bold;
}

.footer_social_media ul li {
    list-style: none;
}

.footer_social_media ul li a {
    width: 37px;
    height: 37px;
    display: grid;
    place-items: center;
    background-color: white;
    color: black;
    border-radius: 50%;
    font-size: 18px;
    transition: all .3s;
}

.footer_social_media ul li a:hover {
    color: rgb(144, 83, 246);
}


.subscribe_form form .footer_email_form {
    width: 300px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
    padding: 10px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.subscribe_form form .footer_email_form::placeholder {
    color: white;
}

.copyright p {
    padding-top: 25px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}



/* responsive for mobile screen */
@media screen and (min-width:340px) and (max-width:560px) {
    footer {
        padding: 70px 0px;
    }

    .subscribe_form form .footer_email_form {
        width: 180px;
    }

    .subscribe_form form .btn-1 {
        width: 90px;
        font-size: 10px;
        padding: 10px;
    }
}